/* @font-face -> specifies custom font, can be remote server or locally installed font */
/* format('truetype') -> indicates that the font file is in TrueType format (.ttf) */
@font-face {
    font-family: 'RedHatText';
    src: url('../../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: hsl(20, 50%, 98%);
}

/* item category label for each photo, part of text-container */
.item_category {
    font-size: 13px;
    font-family: 'RedHatText';
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 0px;
    color: hsl(7, 20%, 60%);
}

/* item name label for each photo, part of text-container */
.item_name {
    font-size: 16px;
    font-family: 'RedHatText';
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

/* item price label for each photo, part of text-container */
.item_price {
    font-size: 16px;
    font-family: 'RedHatText';
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: hsl(14, 86%, 42%);
}

/* contains all text information under each photo */
.text-container {
    text-align: left;
}

/* wrapper container that holds all other containers on page */
.outermost-wrapper-container {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
}

/* container that holds the page title and images with descriptions */
.title-images-container {
    display: flex;
    flex-direction: column;
    flex: 3;
}

/* describes info related to each food image */
.food-image {
    width: 250px;
    height: auto;
    border-radius: 7px;
}

/* container that holds each image with associated info */
.image-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    flex: 1;
}

/* page title text */
.page-title {
    font-family: 'RedHatText';
    font-weight: 700;
    color: hsl(14, 65%, 9%);
}

/* container that holds page title */
.page-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 60px;
    padding-top: 40px;
}

/* container that holds the your cart card */
.your-cart-container {
    flex: 2;
    padding-left: 30px;
}

/* title for your cart card */
.your-cart-title {
    font-family: 'RedHatText';
    font-weight: 700;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 22px;
    color: hsl(14, 86%, 42%);
}

/* container for your cart card */
.your-cart-card-container {
    width: 350px;
    height: auto;
    background-color: white;
    margin-top: 60px;
    border-radius: 7px; /* rounded corners */
    position: relative;
    display: flex;
    flex-direction: column;
}

/* add to cart button below each image */
.add-to-cart-button-no-item {
    /* positioning */
    position: absolute;
    left: 50%;
    bottom: -20px;
    height: 40px;
    width: 150px;
    transform: translateX(-50%);

    /* styling */
    border-radius: 20px;
    border-color: black;
    border-width: 0.75px;
    border-style: solid;
    font: 'RedHatText';
    font-weight: 600;
    background-color: white;

    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart-button-no-item:hover {
    color: hsl(14, 86%, 42%);
    border-color: hsl(14, 86%, 42%);
}

.add-to-cart-icon {
    height: 20px;
    margin-right: 5px;
}

.edit-cart-items {
    /* positioning */
    position: absolute;
    left: 50%;
    bottom: -20px;
    height: 40px;
    width: 150px;
    transform: translateX(-50%);

    /* design */
    border-radius: 20px;
    border-color: black;
    border-width: 0.75px;
    border-style: solid;
    font: 'RedHatText';
    font-weight: 600;
    background-color: hsl(14, 86%, 42%);

    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.decrement-button {
    /* position and styling */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    border-color: white;
    background-color: hsl(14, 86%, 42%);
    border-style: solid;
    border-width: 1px;

    /* center button items */
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.increment-button {
    /* position and styling */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border-width: 1px;
    border-color: white;
    background-color: hsl(14, 86%, 42%);
    border-style: solid;

    /* center button items */
    display: flex;
    align-items: center;
    justify-content: center;  

    color: white;
}

.increment-button:hover svg {
    color: hsl(14, 86%, 42%);
}

.increment-button:hover {
    background-color: white;
}

.decrement-button:hover svg {
    color: hsl(14, 86%, 42%);
}

.decrement-button:hover {
    background-color: white;
}

.increment-quantity-icon,
.decrement-quantity-icon {
  transform: scale(1.5);
}

.item-quantity-button-text {
    color: white;
    font-family: 'RedHatText';
    font-weight: 400;
}

.image-button-container{
    display: flex;
    position: relative;
}

/* container that holds empty cart (cake) icon and associated text */
.your-cart-card-items-container {
    display: flex;
    flex-direction: column;
}

/* icon displayed when cart is empty */
.empty-cart-icon {
    height: 125px;
    width: auto;
    padding-top: 20px;
}

/* text displayed when cart is empty in your cart card */
.empty-cart-text {
    font-size: 14px;
    font-family: 'RedHatText';
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    color: hsl(12, 20%, 44%);
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.cart-item-name {
    font-size: 15px;
    font-family: 'RedHatText';
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(14, 65%, 9%);
}

.cart-item-quantity {
    font-size: 14px;
    font-family: 'RedHatText';
    font-weight: 700;
    color: hsl(14, 86%, 42%);
}

.cart-item-price {
    font-size: 14px;
    font-family: 'RedHatText';
    font-weight: 600;
    color: hsl(12, 20%, 44%);
}

.cart-item-total-price {
    font-size: 14px;
    font-family: 'RedHatText';
    font-weight: 700;
    color: hsl(12, 20%, 44%);
}

.quantity-price-container {
    display: flex;
    direction: row;
    gap: 10px;
    margin-top: 10px;
}

.cart-item-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(13, 31%, 94%);
    border-style: solid;
    border-width: 0.1px;
}

.order-total-container {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.order-total-title {
    font-size: 16px;
    font-family: 'RedHatText';
    font-weight: 400;
    color: hsl(14, 65%, 9%);
}

.order-total-price {
    font-size: 25px;
    font-family: 'RedHatText';
    font-weight: 700;
    color: hsl(14, 65%, 9%);
}

.carbon-neutral-container {
    background-color: hsl(20, 50%, 98%);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 7px;

    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.carbon-neutral-text {
    font-size: 12px;
    font-family: 'RedHatText';
    font-weight: 400;
    color: hsl(14, 65%, 9%);
}

.confirm-order-button {
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 14px;
    font-family: 'RedHatText';
    font-weight: 600;
}

.confirm-order-button:hover {
    background-color: hsl(14, 88%, 35%);
}




                                                                           

